#toolbar {
  float: right;
}

#toolbar a {
  border: 1px solid #333;
  padding: 5px 10px;
}

a, a:link, a:visited {
  color: #00a55a;
  text-decoration: none;
}

a:hover, a:active {
  color: #00a5de;
  text-decoration: none;
}

a.selected {
  color: #00a5de;
}

body {
  padding: 10px;
  background-color: black;
}

pre {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: white;
}

p {
  color: white;
}